<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Com.ABTesting" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="ABTesting.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBiupuCwChvHIsLIgvvBweBc-n6aGcHVqo" />
		<meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="${applicationId}" />

			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


</manifest>